body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: #333;
    margin: 0;
    font-size: 24px;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]:hover {
    background-color: #f1f1f1;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #f3f3f3; /* Solid background color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure rounded corners display correctly */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0e88eb;
    color: white;
    font-weight: bold;
}

tr:nth-child(even), tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 14px;
    color: #333;
}

.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 8px;
}

.navbar a.active {
    background-color: #ffffff;
    color: rgb(61, 61, 61);
    border-radius: 8px;
}

.circle-icon {
    background: #dcdce0;
    padding: 10px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 18px;
}
